name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Decode Secrets
        run: |
          echo "${{ secrets.GOOGLE_SERVICE_JSON }}" | base64 -D > android/app/google-services.json
          echo "${{ secrets.GOOGLE_SERVICE_PLIST }}" | base64 -D > ios/Runner/GoogleService-Info.plist
          echo "${{ secrets.APP_ENV }}" | base64 -D > .env
          echo "${{ secrets.TEST }}" | base64 -D > test.json

      - name: Test
        run: |
          cat test.json

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Android APK
        run: flutter build apk --release

      - name: Build iOS App (No Codesign)
        run: |
          flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r ios-app.zip Payload

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/ios/iphoneos/ios-app.zip
